%h3=t('chat.header')
#chat_box
- if current_user.present?
  = form_tag "/", :id => "chat_form", :onsubmit => "return false;" do
    %div= text_field_tag :message, "", :placeholder => t("you_chat_here")
    #chat_hint= t("chat.hint")
- else
  #chat_need_signin= raw t("chat.need_signin", :signin_path => signin_path)
#chat_log
  = javascript_include_tag "#{Site.chat.server}/#{Site.chat.client_js}"

- chat_entry_template = capture do
  .chat_entry
    %a{:href => "{link}", :title => "{display_name}"}
      %img{:src => "{avatar_url}", :size => "32x32"}
    %span.msg {content}

- chat_error_template = capture do
  .chat_error {message}

- chat_info_template = capture do
  .chat_info {message}

:javascript
  var client = new Faye.Client("#{Site.chat.server}/#{Site.chat.mount_point}");
  var channel = '/leagues/#{@league.id}';

  var templates = { 
    chatEntry: #{chat_entry_template.to_json}, 
    error: #{chat_error_template.to_json},
    info: #{chat_info_template.to_json}
  }

  function scrollChatToEnd(){
    setTimeout(function(){
      $("#chat_box").attr({ scrollTop: $("#chat_box").attr("scrollHeight") })
    }, 0);
  }
  function addMessage(message){
    var entry = $(formatString(templates.chatEntry, message)).hide().fadeIn(500)
    $('#chat_box').append(entry);
  }

  function addMessages(messages){
    if (messages != null){
      for (var i = 0; i < messages.length; i++){
        addMessage(messages[i]);
      }
    }
  }

  function addLog(type, message){
    var entry = $(formatString(templates[type], { message: message }));
    $('#chat_log').append(entry.hide().fadeIn(1000));
    setTimeout(function(){
      entry.fadeOut(1000, function(){ $(this).remove()});
    }, 5000);
  }

  $(function(){
    $.ajax({
      url: "#{Site.chat.server}/#{Site.chat.history_mount_point}",
      dataType: "jsonp",
      data: {
        count: #{Site.chat.history_limit},
        channel: channel,
      },
      success: function(messages){
        addMessages(messages);
        scrollChatToEnd();
      }
    });
  });

  client.subscribe(channel, function(message) {
    addMessage(message);
    scrollChatToEnd();
  });

- if current_user.present?
  :javascript
    $('#chat_form').submit(function(){
      setTimeout(function(){
        client.publish(channel, { 
          display_name: #{current_user.display_name.to_json},
          link: #{user_path(current_user).to_json},
          avatar_url: #{current_user.gravatar_url(:size => 32).to_json},
          content: $('#chat_form #message').val()
        });
        $('#chat_form')[0].reset();
      }, 0);
      return false;
    });
