= form_for @league do |f|
  -if @league.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@league.errors.count, "error")} prohibited this league from being saved:"
      %ul
        - @league.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :category_id
    = f.text_field :category_id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :image_url
    = f.text_field :image_url
  .field
    = f.label :level
    = f.text_field :level
  .actions
    = f.submit 'Save'
