%h1 Welcome to #{@league.name}
%h2 Let's match
#status

#players{:style => 'display: none'}
  %h3 Players
  %ul.list

#exit{:style => 'display: none'}
  = form_tag leave_current_match_league_path(@league), :id => "leave_current_match_form" do 
    = submit_tag "Leave current match"

#question

:javascript
  var leagueId = #{@league.id};
  var questionsPerMatch = #{Matching.questions_per_match};
  var matchId;
  var retried = 0;
  var currentQuestion;
  var counterHandle;
  var counterTemplate;
  var remainedTime;

  var MAX_RETRIES = 20; 

  var statusHTML = #{javascript_templates(['waiting', 'formed', 'started', 'you_finished'])};

  $(function(){ 
    $('#leave_current_match_form').submit(function(){return confirm("Leave current match?");});
    requestMatch();
  })

  function requestMatch(){
    $.ajax({
      type: 'post',
      url: ["/leagues/", leagueId, "/request_match"].join(""),
      dataType: 'json',
      success: function(data){
        if (data.match_id){
          matchId = data.match_id;
          getMatchInfo();
        } else {
          setStatus('waiting', data);
          setTimeout(requestMatch, 1000);
        }
        resetRetrying();
      },
      error: function(data){
        retry(requestMatch, 500);
      }
    });
  }

  function getMatchInfo(){
    $.ajax({
      type: 'post',
      url: ["/matches/", matchId, "/infor"].join(""),
      dataType: 'json',
      success: function(data){
        updateMatchInfo(data);
        resetRetrying();
      },
      error: function(data){
        retry(getMatchInfo, 500);
      }
    });
   }

  function updateMatchInfo(info){
    if (info.status){
      setStatus(info.status, info);
      switch (info.status){
        case 'formed':
          showCounter('formed', info.seconds_until_started);
          break;
        case 'you_finished':
          setTimeout(getMatchInfo, 1000);
          showCounter('you_finished', info.seconds_until_ended);
          break;
        case 'started':
          showCounter('started', info.seconds_until_ended);
          break;
      }
    }

    if (info.question){
      setQuestion(info.question_type, info.question, info.current_question_position);
    } else clearQuestion();

    setPlayers(info.players, info.status);
  }

  function showCounter(template, time){
    if (counterHandle) {clearTimeout(counterHandle);}
    remainedTime = time;
    counterTemplate = template;
    counterHandle = setTimeout(refreshCounter, 1000); 
  }

  function refreshCounter(){
   if (remainedTime== 0){
      getMatchInfo();
    } else {
      remainedTime--;
      var params;
      if (counterTemplate == 'formed'){
        params = { seconds_until_started: remainedTime}
      } else {
        params = { seconds_until_ended: remainedTime}
      }
      setStatus(counterTemplate, params);
      counterHandle = setTimeout(refreshCounter, 1000);
    }
  }

  function submitAnswer(answer){
    disableQuestionButtonsAndInputs();
    var data = {
      position: currentQuestionPosition
    } 
    if (answer != null) data.answer = answer;

    $.ajax({
      type: 'post',
      url: ["/matches/", matchId, "/submit_answer_and_get_next_question"].join(""),
      dataType: 'json',
      data: data,
      success: function(data){
        updateMatchInfo(data);
      },
      error: function(data){
        retry(function(){submitAnswer(answer)}, 100);
      }
    })
  }

  function retry(ajaxMethod, interval){
    if (retried < MAX_RETRIES){
      retried++;
      setTimeout(ajaxMethod, interval);
    }
  }

  function resetRetrying(){
    retried = 0;
  }

  function highlightPattern(input){
    var hint = $(input).attr('hint');
    var val = $(input).val();
    function span(ch, clazz){
      return ["<span class='", clazz, "'>", ch, "</span>"].join("");
    }

    var parts = [];
    for (var i = 0; i < Math.max(hint.length, val.length); i++){
      if (i >= val.length){
        parts.push(span(hint.charAt(i), "gray"));
      } else if (i >= hint.length){
        parts.push(span(val.charAt(i), "purple"));
      } else if (hint.charAt(i) == '*') {
        parts.push(span('*', "green"));
      } else if (hint.charAt(i) == val.charAt(i)){
        parts.push(span(hint.charAt(i) == ' ' ? '_' : hint.charAt(i), "green"));
      } else {/*hint.charAt(i) != val.charAt(i)*/
        parts.push(span(hint.charAt(i) == ' ' ? '_' : hint.charAt(i), "red"));
      }
    }

    $('#question #hint').html(parts.join(""));
  }

  function setStatus(status, params){
    if (status == 'finished') {
      window.location = params['match_result_url'];
    } else {
      var html = statusHTML[status];
      for (var key in params){
        html = html.replace(new RegExp('{'+key+'}', 'g'), params[key]);
      }
      $('#status').html(html);
      if (status == "waiting")
        $('#exit, #players').hide();
      else
        $('#exit, #players').show();
    }
  }

  function setPlayers(players, status){
    $('#players ul.list').empty();
    $.each(players, function(index, player){
      var text = ['<li>', player.display_name, " "];
      if (status != 'formed'){
        if (player.current_question_position == questionsPerMatch) {
          text.push("(finished)");
        } else {
          text = text.concat(["(", player.current_question_position + 1, "/", questionsPerMatch, ")"]);
        }
      }
      text.push("</li>");
      $('#players ul.list').append(text.join(""));
    });
  }

  function setQuestion(questionType, question, position){
    $('#question').html(question);
    currentQuestionPosition = position
    setUpQuestionButtons(questionType);
  }

  function setUpQuestionButtons(questionType){
    switch(questionType){
      case 'MultipleChoice':
        $('#question button').click(function(event){
          submitAnswer($(this).attr('answer'));
        });
        break;
      case 'FollowPattern': 
        $('#question form').submit(function(event){
          var self = this;
          setTimeout(function(){
            submitAnswer($(self).find('#answer').val());
          });
          return false;
        });

        $('#question #answer').keyup(function(event){
          highlightPattern(this);
        }).keyup();
        break;
    }
    $('#question #ignore').click(function(event){
      submitAnswer(null);
    });
  }

  function disableQuestionButtonsAndInputs(){
    $('#question').find('button, input').attr('disabled', 'disabled');
  }

  function clearQuestion(){
    $('#question').empty();
  }
