%p
  %b Category:
  = link_to @league.category.name, @league.category
%p
  %b Name:
  = @league.name
%p
  %b Description:
  = @league.description
%p
  %b Image url:
  = @league.image_url
%p
  %b Level:
  = @league.level

= link_to 'Play some matches', matching_league_path(@league)
