- @title = @user.display_name
.show_user
  .left
    .avatar
      = image_tag @user.gravatar_url(:size => 144)
  .right
    .entry
      = t ".display_name"
      %strong= @user.display_name
    - if current_user == @user
      .entry
        = t ".email"
        %strong= @user.email
    - if @user.date_of_birth.present?
      .entry
        = t ".age"
        %strong= @user.age
    - if current_user == @user
      .links
        = link_to t("user.edit"), edit_user_path(@user)
