- @title = t ".competition_system"
- @categories.each do |category|
  .option_box{:id => category.dom_name}
    %table.fw
      %tr
        %td.logo_cell
          - img = image_tag category.image, :size => "96x64"
          = category.available? ? link_to(img, category) : img
        %td
          %div= category.available? ? link_to(category.name, category) : category.name
          %div
            .description= category.description
            - if category.available?
              .main_link= link_to t('common.join_now'), category  
    - unless category.available?
      .coming_soon{:style => "background-image: url('/stylesheets/imgs/coming_soon_#{I18n.locale}.png');"}
