- @title = t ".competition_system"
- @categories.each do |category|
  .option_box{:id => category.dom_name}
    %table.fw
      %tr
        %td
          - img = image_tag category.image
          - if category.available?
            = link_to img, category
          - else
            = img
        %td
          %div
            - if category.available?
              = link_to category.name, category
            - else
              = category.name
          %div
            .description= category.description
            - if category.available?
              .main_link= link_to t('common.join_now'), category  
    - unless category.available?
      .coming_soon{:style => "background-image: url('/stylesheets/imgs/coming_soon_#{I18n.locale}.png');"}
