.header
  .left
    .logo
      = link_to image_tag("logo.png"), root_path
    .extra
      %a.site_name{:href => root_path}= site_name
      .slogan= t("application.slogan")
      .langbar
        = link_to "English", url_for(params.merge({:locale => :en, :only_path => true})), :class => "en"
        = link_to "Tiếng Việt", url_for(params.merge({:locale => :vi, :only_path => true})), :class => "vi"
  .right
    .user_info
      - if current_user
        = link_to current_user.display_name, current_user
        %span.lsep= "|"
        = link_to t("application.signout"), signout_path
      - else
        = link_to t("application.signin"), signin_path(:return_url => request.fullpath)
    .features
      %ul
        %li.disabled
          = link_to t(".training"), '#'
        %li.disabled
          = link_to t(".users"), '#'
        %li{:class => in_competition_system? ? "youarehere" : ""}
          = link_to t(".competition_system"), root_path
