.notice#maintenance_schedule
  = t "maintenance.from"
  :javascript
    function twoDigits(number){
      return '' + (number > 10 ? number : '0' +number)
    }
    function writeDate(stamp){
      var date = new Date(stamp * 1000);
      document.write('' + date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate() + " " + 
        date.getHours() + ":" + twoDigits(date.getMinutes()));
    }
    writeDate(#{maintenance_schedule.started_at.to_i});
  = t "maintenance.to"
  :javascript
    writeDate(#{maintenance_schedule.ended_at.to_i})
  = t "maintenance.after"
